.login__btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  background-color: #316fea;
  border: none;
  border-radius: 8px;
  padding: 13px;

  margin-bottom: 20px;

  cursor: pointer;

  transition: background-color ease-in-out 300ms;
}

.login__btn:hover {
  background-color: #225aca;
}

.back__link {
  border: 1.2px solid #d3d8dc;

  font-size: 16px;
  font-weight: 500;
  line-height: 21px;

  color: #060e1e;
  padding: 13px;

  border-radius: 8px;
  text-align: center;
}
